body { background-image:url(http://f1301.hizliresim.com/15/7/hquyw.jpg);
  background-positon:fixed;}
	h1 { font-family:calibri; font-weight:bold; color:white;
background-color:#FFC125;
width: 650px;
border-bottom-color:black;
align:left;
}
	#table_baslik {
			padding= 10px;width: 1350px; height:10%;
		    align:center;
		   }
	td {text-align:center;
		font-weight:bold;
		color:white; border:solid black 2px;background-color:#FFC125;
		}
	a {text-align:center;
		font-weight:bold;
		color:white;}
	a:link {font-weight:bold; text-decoration:none; color:white;}
	a:hover {color:red; text-decoration:none;}
	a:active {color:black;}
#link{
text-align:right;
		font-weight:bold;
		color:white; border:solid black 2px;background-color:#FFC125;

}
